<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" verbose="1">

    <test name="Grocery Store Full Scenario Tests">

        <classes>
            <class name="com.Test.RegisterApiTests"/>
            <class name="com.Test.ProductsTests"/>
            <class name="com.Test.CartTests"/>
            <class name="com.Test.OrderTests"/>
        </classes>

    </test>

</suite>
